.features__div{
    border:  .4px solid rgb(38, 18, 189);
    padding: 10px;
    display: flex;
    justify-content: flex-start; 
    border-radius: 10px;
    width: 100%;
    margin: 0px !important;
    margin-top: 10px;
    min-height: 15vw;
}
.feature_item{
    margin: 10px 0px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #000d6b;
}
.feature_item i{
    margin: 0px 5px;
}
@media (max-width:769px){
    .feature_item{
        margin: 10px 0px;
        font-size: .8rem;
    }
}
@media (max-width:426px){
    .feature_item{
        margin: 10px 0px;
        font-size: .59rem;
    }
}